<mat-card class="card">
    <mat-card-header>
        <mat-card-title>{{ product().name }}</mat-card-title>
        <mat-card-subtitle>{{ product().price }} $</mat-card-subtitle>
    </mat-card-header>
    <div class="galerey">
        <ng-template
            appCarousel
            let-image
            let-next="next"
            let-back="back"
            [imagesArray]="product().images"
        >
            <button mat-icon-button (click)="back()">
                <mat-icon>chevron_left</mat-icon>
            </button>
            <!-- Изображение -->
            <img mat-card-image [src]="image.url" [alt]="product().name" />
            <button mat-icon-button (click)="next()">
                <mat-icon>chevron_right</mat-icon>
            </button>
        </ng-template>
    </div>
    <mat-card-content>
        <p>Отзывы: {{ product().feedbacksCount }}</p>
        <div class="rating">
            Рейтинг:
            <mat-icon [class.star-active]="isActiveStar(1)">star</mat-icon>
            <mat-icon [class.star-active]="isActiveStar(2)">star</mat-icon>
            <mat-icon [class.star-active]="isActiveStar(3)">star</mat-icon>
            <mat-icon [class.star-active]="isActiveStar(4)">star</mat-icon>
            <mat-icon [class.star-active]="isActiveStar(5)">star</mat-icon>
        </div>
    </mat-card-content>
    <mat-card-actions class="mat-card-actions-align-end">
        <button
            mat-button
            [title]="isFavorite ? 'Убрать из избранного' : 'Добавить в избранное'"
            (click)="toFavorite($event)"
        >
            <mat-icon [class.color-success]="isFavorite">thumb_up</mat-icon>
        </button>
        <button mat-button class="ml-auto" (click)="addItem($event)">
            <mat-icon title="Добавить в корзину">add</mat-icon>
        </button>
        <button mat-button>
            <mat-icon [matBadge]="basketQuantity()">shopping_cart</mat-icon>
        </button>
        <button mat-button (click)="removeItem($event)">
            <mat-icon title="Удалить из корзины">remove</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
