<app-header [applicationConfig]="appConfig" (menuClick)="onMenuClick()"></app-header>
<!-- <app-sidenav [(isDrawerOpened)]="isDrawerOpenedStore"></app-sidenav> -->
<div class="p-3 container">
    <app-products-list></app-products-list>
</div>

<!-- Homework stand -->

<!-- Switch template -->
<!-- <app-popup-host [template]="switchTemplate() ? first : second"></app-popup-host> -->

<!-- or -->

<!-- Close template -->
<app-popup-host [template]="!closeTemplate() ? first : null"></app-popup-host>

<ng-template #first>
    <h2>First</h2>
    <p>Is first template</p>
</ng-template>
<ng-template #second>
    <h2>Second</h2>
    <p>Is second template</p>
</ng-template>
